body{
    background-color: rgb(131, 224, 224);
}

body{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav{
    background-color: rgba(255, 255, 255, 0.523);
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 800px;
}
.Meduimsize{
    width: 350px;
    height: 300px;
}
h1{
    text-shadow: 
    1px 1px 1px green,
    2px 2px 1px green;
}
h2{
    text-shadow: 
    1px 1px 1px green,
    2px 2px 1px green;
}
h3{
    text-shadow: 
    1px 1px 1px green,
    2px 2px 1px green;
}
.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
